---
layout: archive
title: "Movies and TV"
permalink: /movies/
author_profile: true
---
Cinema and TV are both profoundly beautiful media. Each synthesizes many unique artistic talents to create a stunning and seamless whole. 
I want to share some of my favorite films and shows with you. I am including anything I have rated an 8/10 or above on IMDB (or 4/5 and above on Letterboxd).
I hope you appreciate them and learn a little bit about my artistic tastes in the process. Here is my [Letterboxd](https://letterboxd.com/benbobell/) for a more updated list.
{% include base_path %}


{% for post in site.movies %}
  {% include archive-single.html %}
{% endfor %}

