---
layout: archive
title: "Movies and TV"
permalink: /movies/
author_profile: true
---
<p>
Cinema and TV are both profoundly beautiful media. Each synthesizes many unique artistic talents to create a stunning and seamless whole. 
I want to share some of my favorite films and shows with you. I am including anything I have rated an 8/10 or above on IMDB (or 4/5 and above on Letterboxd).
I hope you appreciate them and learn a little bit about my artistic tastes in the process. Here is my <a href="https://letterboxd.com/benbobell/" target="_blank">Letterboxd</a>
 for a more updated list.</p>
{% include base_path %}

<table border="1">
    <thead>
        <tr>
            <th bgcolor="736c81">Title</th>
            <th bgcolor="736c81">Year</th>
            <th bgcolor="736c81">Rating</th>
            <th bgcolor="736c81">Watched</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in site.data.movies.movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.rating }}</td>
            <td><input type="checkbox" {% if movie.watched %}checked{% endif %}></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

